# This is Git's per-user configuration file.
[User]
	name = vimiomori
# Please adapt and uncomment the following lines:
#	name = "vhyohvi"
#	email = vivianhsieh@outlook.com 
[user]
	email = vivian.muchen@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
	root = /Users/vi/src
